

body {
    background-image: linear-gradient(90deg,  grey, black, silver);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #Contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: center;
  }
  
  #ho {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    color: plum;
    text-shadow: 2px 2px purple;
    text-decoration: underline;
  }
  
  #Calc {
    width: 80%;
  
    background-color: rgb(35, 32, 32);
    border-radius: 10%;
    color: white;
    display: flex;
    flex-direction: column;
  
  
  }
  
  #date {
    width: 100%;
    background-color: wheat;
    color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  
  #Screen {
    width: 99%;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
   
  }
  
  #Buttons {
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
  }
  
  #Buttons button {
    width: 25%;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10%;
    border: 2px solid black;
  }
  
  #Buttons .number {
    background-color: wheat;
    color: crimson;
    text-shadow: 1px 1px black;
  
  }
  
  #Buttons .number:hover {
    background-color: black;
    border: 2px solid whitesmoke;
    color: white;
    animation-name: numb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  
  }
  
  
  @keyframes numb {
    0%   {background-color:black;}
    25% {background-color: rgb(60, 52, 52);}
    50% {background-color: burlywood;}
    75% {background-color: brown;}
    100% {background-color: crimson;}
  }
  
  
  
  #Buttons #sign {
    background-color: rgb(65, 5, 122);
    color: white;
    border: 2px solid slategrey;
    text-shadow: 1px 1px black; 
  
  }
  
  #Buttons #sign:hover {
    animation-name: sign;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    font-size: xx-large;
  
  }
  
  @keyframes sign {
    0%   {background-color:rgb(65, 5, 122);  font-size: xx-large;}
    25%   {background-color:rgb(30, 1, 57);  font-size: x-large;}
     50%   {background-color:rgb(33, 33, 198);  font-size: large;}
     75%   {background-color:rgb(21, 18, 203);  font-size: small;}
    100%   {background-color:rgb(26, 0, 140);  font-size: smaller;}
  
  }
  
  #Buttons .re {
    background-color: silver;
    color: red;
    text-shadow: 1px 1px black;
    width: 50%;
  }
  
  #Buttons .re:hover {
    background-color: gray;
  }
  
  #Buttons .equals {
    width: 75%;
  }
  
  .equals:hover {
    background-color: rgb(1, 82, 82);
    color: burlywood;
  }
  